version: '3.8'

services:
  # ----------------------------------------------------------------
  # Application Service: Metabase
  # ----------------------------------------------------------------
  metabase:
    image: metabase/metabase:latest
    container_name: metabase
    restart: unless-stopped
    networks:
      - web
    environment:
      # Database Connection Configuration
      MB_DB_TYPE: postgres
      MB_DB_DBNAME: metabase
      MB_DB_PORT: 5432
      MB_DB_USER: metabase
      MB_DB_PASS: ${MB_DB_PASS}  # Ορίζεται στο .env ή αντικαθίσταται με τον κωδικό
      MB_DB_HOST: metabase-db
      # Service Configuration
      MB_SITE_URL: https://metabase.sandbox.ellak.gr
      JAVA_OPTS: "-Xmx1024m"     # Όριο μνήμης Java Heap
    depends_on:
      - metabase-db

  # ----------------------------------------------------------------
  # Backend Service: PostgreSQL (Metadata Storage)
  # ----------------------------------------------------------------
  metabase-db:
    image: postgres:15-alpine
    container_name: metabase-db
    restart: unless-stopped
    networks:
      - web
    environment:
      POSTGRES_USER: metabase
      POSTGRES_PASSWORD: ${MB_DB_PASS} # Πρέπει να ταυτίζεται με το MB_DB_PASS
      POSTGRES_DB: metabase
    volumes:
      # Persistent Storage (Bind Mount)
      - ./metabase-db-data:/var/lib/postgresql/data

networks:
  web:
    external: true
