version: '3.8'

services:
  vaultwarden:
    image: vaultwarden/server:latest
    container_name: vaultwarden
    restart: unless-stopped
    volumes:
      - ./vw-data:/data  # Εδώ αποθηκεύεται η βάση δεδομένων
    environment:
      - WEBSOCKET_ENABLED=true  # Για άμεσο συγχρονισμό συσκευών
      - SIGNUPS_ALLOWED=true    # Θα το αλλάξουμε σε false αφού κάνεις εγγραφή
      - DOMAIN=https://vault.duckdns.org
    networks:
      - web

networks:
  web:
    external: true

